<!DOCTYPE html>
<html>
<head>
<h2>London Language Institute Admin Homepage</h2>
</head>
<body>
  <script>
    {% include "pages/homepage/index.js" %}
  </script>


<p>Note: This page is for LLI internal usage only</p>
<p>For more information, please click contact button</p>

<p>

  <button type="button" onclick ="onLoginClick()">Login</button>

</p>
<br />
<br />


  <button type = "button" onclick = "onContactClick()">Contact</button>
<p>

  <button type="button" onclick = "onVersionClick()">Version</button>

</p>
<p id=getVersion></p>
</body>
</html>
